<%= render 'layouts/loggedin_links' %>

<div class="card box-shadow" >

        <div class="card-header">
            <h1><%= @task.title %></h1>
        </div>
        
        <div class="card-body">
        <ul class="list-group list-group-flush">

            <li class="list-group-item">
            <h3>Task Description: </h3>
            <p><%= @task.description %></p>
            </li>

            <li class="list-group-item">
            <h3>Task Category: </h3>
            <p>
                <%= link_to @task.category.name, category_tasks_path(category_id: @task.category.slug) %>
            </p>
            </li>

            <li class="list-group-item">
            <h3>Task Author: </h3>
            <p><%= @task.user.username %></p>
            </li>
        </ul>
    </div>
        <div class="card-footer text-muted">
            <%= button_to "Edit task", edit_user_task_path(@user, @task), method: :get, class:"btn btn-secondary"%><br>
            <%= button_to "Delete task", user_task_path, method: :delete, class:"btn btn-danger"%>
        </div>
</div>