<div class="card post-form box-shadow">
    <div class="card-body">
    <%= render 'user_errors' %>

        <%= form_for @user do |f| %>
        <%= f.label :password%><br>
        <%= f.password_field :password%><br>
        <%= f.submit "Edit User"%>
        <%end %>
    </div>
</div>