<!DOCTYPE html>
<html>
  <head>
    <title>TheDailyPlanner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
  <%= button_to "Add a task", new_task_path, method: :get %> 
  <br>
  <%= button_to "See all of my tasks", tasks_path, method: :get %>
  <br>
  <%= button_to "Log Out", logout_path, method: 'delete' %>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
